body{
    margin: 2px;
    min-height: 100vh;


/*HEADER*/
}
.header{
    height: 160px;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: black;
    border-style: solid;
    margin-top: 64px;
}

.left-section{
    align-items: center;
    display: flex;
    width: 400px;
    justify-content: right;
}

.uni-logo{
    height: 130px;
    margin-left: 25px;
    margin-right: 25px;
}

.right-section{
    display: flex;
    flex: 1;
    margin-right: 35px;
    align-items: center;
    justify-content: left;
}


.facname{
    font-size: 20px;

}

.uniname{
    font-size: 15px;

}

.topic{
    font-size: 40px;

}



/*BODY*/
.body-section{
    display: flex;
    height: 360px;
    background-image: url(./faculty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;

}


.intro-text{
    height: auto;
    width: 70%;
    background-color: rgb(208, 208, 208);
    text-align: justify;
    opacity: 0.85;
    border-radius: 10px;
    padding-bottom: 25px;
    z-index: 1;

}

.welcometofog{
    margin-top: 25px;
    font-size: 20px;
    margin-left: 25px;
}
.intro-paragraph{
    margin-left: 30px;
    margin-right: 30px;
}

.login-as{
    display: flex;
    height: 150px;
    background-color: rgb(210, 210, 210);
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.admin, .lec, .std{
    flex: 1;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.admin-button, .lec-button, .std-button{
    height: 70px;
    width: 300px;
    margin: 30px;
    font-size: 25px;
    background-color: rgb(180, 180, 175);
    color: black;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.admin-button:hover, .lec-button:hover, .std-button:hover{
    background-color: rgb(146, 146, 146);
}

.admin-button:active, .lec-button:active, .std-button:active{
    background-color: rgb(62, 60, 60);
    transition: background-color 0.1s;
    transition: color 0.1s;
    color: rgb(255, 255, 255);
}




/*FOOTER*/
.footer{
    background-color: rgb(206, 206, 206);
    height: 100px;
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 1px;
    border-color: black;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.contact-info{
    margin-top: 25px;
    margin-bottom: 0;
}


@media screen and (max-width: 1000px){
    .header{
        height: 120px;
    }

    .left-section{
        align-items: center;
        display: flex;
        width: 150px;
        justify-content: right;
    }

    .uni-logo{
        height: 80px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .facname{
        font-size: 12px;
    
    }
    
    .uniname{
        font-size: 10px;
    
    }
    
    .topic{
        font-size: 28px;
    
    }
    /*Body*/
    .body-section{
        display: flex;
        flex-direction: column;
        height: 350px;
    }

    .intro{
        display: flex;
        flex: unset;
        height: 360px;
    }

    .intro-text{
        width: 90%;
        height: auto;
        min-height: 200px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-bottom: 0;
    }

    .welcometofog{
        font-size: 17px;
    }
    .intro-paragraph{
        font-size: 13px;
    }

    .login-as{
        display: flex;
    }

    .button-body{
        height: 10%;
        width: 90%;
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .admin-button, .lec-button, .std-button{
        height: 50px;
        width: 200px;
        font-size: 20px;
    }

    /*FOOTER*/
    .footer{
        background-color: rgb(206, 206, 206);
        height: 80px;
        margin-top: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-top: 1px;
        border-color: black;
        border-style: solid;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
    
    .contact-info{
        margin-top: 15px;
        font-size: 15px;

    }

    .copyrights-text{
        font-size: 13px;
    }
    

}

@media screen and (max-width: 650px){
    .header{
        height: 120px;
    }
    .left-section{
        align-items: center;
        display: flex;
        width: 120px;
    }

    .uni-logo{
        height: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .facname{
        font-size: 11px;
    
    }
    
    .uniname{
        font-size: 10px;
    
    }
    
    .topic{
        font-size: 22px;
    
    }

    .intro-text{
        height: 250px;
        padding-bottom: 0;

    }

    .admin-button, .lec-button, .std-button{
        font-size: 17px;
    }
}


@media screen and (max-width: 500px){
    .header{
        flex-direction: column;
        height: 100px;
    }

    .left-section{
        display: none;
    }

    .right-section{
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: auto;
        flex: 1;
    }

    .facname{
        font-size: 11px;
    
    }
    
    .uniname{
        font-size: 10px;
    
    }
    
    .topic{
        font-size: 21px;
    
    }

    .uni-logo{
        display: none;
    }
    .facname, .uniname, .topic{
        justify-content: center;
        align-items: center;
    }

    .body-section{
        display: flex;
        height: 550px;
    }

    .intro{
        height: 450px;
    }

    .intro-text{
        height: auto;
        padding-bottom: 30px;
    }

    .button-body{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    

    .admin-button, .lec-button, .std-button{
        height: 50px;
        width: 90%;
        font-size: 14px;
        margin: 0;
    }
    
}

@media screen and (max-width: 400px){
    .facname{
        font-size: 9px;
    
    }
    
    .uniname{
        font-size: 8px;
    
    }
    
    .topic{
        font-size: 18px;
    
    }
}


.section-main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
  }
  
  .section-main h1{
    color: rgba(255, 255, 255, 0.5);
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
  }
  
  header{
    z-index: 2;
    position: fixed;
    background-color: rgb(96, 23, 23);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
  }
  
  header.sticky{
    background: #b21c1c;
    padding: 15px 100px;
  }
  
  header .brand{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  header .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header .menu a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
  }
  
  header .menu a:hover{
    color: #000;
    background: #fff;
  }
  
  header .btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
  
  .section-two{
    min-height: 100vh;
    background: #001018;
    padding: 20px 100px;
  }
  
  .section-two h2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
  }
  
  .section-two p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin: 30px 0;
  }
  
  @media (max-width: 1060px){
    header .btn{
      display: block;
    }
  
    header .menu{
      position: fixed;
      background: #1483D5;
      flex-direction: column;
      min-width: 400px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 80px 50px;
      transition: 0.5s;
      transition-property: right;
    }
  
    header .menu.active{
      right: 0;
    }
  
    header .menu .close-btn{
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
    }
  
    header .menu a{
      display: block;
      font-size: 20px;
      margin: 20px;
      padding: 0 15px;
    }
  }
  
  @media (max-width: 630px){
    .section-main h1{
      font-size: 50px;
      line-height: 60px;
    }
  }


